[Unit]
Description=AzCertUpdater uploads certificates from an Azure VM to an Azure Key Vault
Requires=network.target network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/az-cert-updater
ExecStart=/usr/bin/node -r esm app.js
ExecStartPost=/bin/systemctl restart apache2

[Install]
WantedBy=multi-user.target