[Unit]
Description=Watches for updated certificates from an Azure VM to an Azure Key Vault
Requires=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/az-cert-updater
ExecStart=/usr/bin/node -r esm app.js

[Install]
WantedBy=multi-user.target